*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(137, 176, 223);
}
form{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
/* .row div{
    display: flex;
    justify-content: space-between;
} */
.row_1{
    background-color: white;
    border-radius: 20px 0 0 20px ;
}
.row_1 input, .row_1 select{
    color:rgb(128, 127, 131);
}
input, select{
    border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid grey;
    font-size: 18px;
    margin-top: 30px;
}
.row_2 input, .row_2 select, a{
    border-bottom: 1px solid white;
    color: white;
}  
h2{
    color:rgb(38, 84, 157);
    margin: 0;
}

.row_2 h2{
    color:white
}
.row_2{
    background-color:rgb(58, 58, 193);
    border-radius: 0 20px 20px 0 ;
}
#register{
    color: black;
    background-color: white;
    border: solid 2px black;
    border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(80, 80, 80)) 4;
    width: 180px;
    border-radius: 20px;
}